# Problem Set 2

# Question 1

Consider the following Python module:

In [1]:
a = 0

In [2]:
def b():
  global a
  a = c(a)

In [3]:
def c(a):
  return a + 2

After importing the module into the interpreter, you execute:

In [4]:
b()

In [5]:
b()

In [6]:
b()

In [7]:
a

6

What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

In the given Python module, there is a global variable called "a" which is initially set to 0. The module contains a function named "b()" that modifies the value of "a" by invoking another function called "c(a)" which adds 2 to the current value of "a". By calling "b()" three times, the value of "a" is updated to 6. The first call changes "a" from 0 to 2, the second call changes it from 2 to 4, and the third call changes it from 4 to 6. Consequently, when the last expression "a" is evaluated, it returns the value 6, indicating the final value of the global variable "a" after the function calls.

# Question 2

Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:

In [9]:
import os

def fileLength(filename):
    try:
        # Get the size of the file in bytes
        file_size = os.path.getsize(filename)
        return file_size
    except OSError:
        return -1

In [14]:
length = fileLength("C:\\Users\\TheDevilCoder\\project.txt")
print("File length:", length, "bytes")

File length: 165 bytes

As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead:

In [15]:
import os

def fileLength(filename):
    try:
        # Get the size of the file in bytes
        file_size = os.path.getsize(filename)
        return file_size
    except OSError:
        print("Error: File", filename, "not found or cannot be read as a text file.")
        return -1

In [17]:
length = fileLength("C:\\Users\\TheDevilCoder\\project1.txt")
print("File length:", length, "bytes")

Error: File C:\Users\TheDevilCoder\project1.txt not found or cannot be read as a text file.
File length: -1 bytes

# Question 3

Write a class named Marsupial that can be used as shown below:
```
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']
```

In [18]:
class Marsupial:
  def __init__(self):
    self.pouch = []

  def put_in_pouch(self, item):
    self.pouch.append(item)

  def pouch_contents(self):
    return self.pouch

In [19]:
m = Marsupial()

In [20]:
m.put_in_pouch('doll')

In [21]:
m.put_in_pouch('firetruck')

In [22]:
m.put_in_pouch('kitten')

In [23]:
m.pouch_contents()

['doll', 'firetruck', 'kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:
1. extends the Marsupial ```__init__``` constructor to take, as input, the
coordinates x and y of the Kangaroo object,
2. supports method jump that takes number values dx and dy as input and movesthe kangaroo by dx units along the x-axis and by dy units along the yaxis, and
3. overloads the ```__str__``` operator so it behaves as shown below.

```
>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)
```

In [24]:
class Kangaroo(Marsupial):
  def __init__(self, x, y):
    super().__init__()
    self.x = x
    self.y = y

  def jump(self, dx, dy):
    self.x += dx
    self.y += dy

  def __str__(self):
    return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"

In [25]:
k = Kangaroo(0, 0)
print(k)

I am a Kangaroo located at coordinates (0,0)

In [26]:
k.put_in_pouch('doll')

In [27]:
k.put_in_pouch('firetruck')

In [28]:
k.put_in_pouch('kitten')

In [29]:
print(k.pouch_contents())

['doll', 'firetruck', 'kitten']

In [30]:
k.jump(1,0)

In [31]:
k.jump(1,0)

In [32]:
k.jump(1,0)

In [33]:
print(k)

I am a Kangaroo located at coordinates (3,0)

# Question 4

Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:

\begin{align}
        x = \left\{
        \begin{array}{cl}
        x/2 & \text{if x is even} \\
        3x+1 & \text{if x is odd}
        \end{array}
        \right.
    \end{align}


Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.

In [35]:
def collatz(x):
  print(x)

  if x == 1:
    return
  elif x % 2 == 0:
    collatz(x // 2)
  else:
    collatz(3 * x + 1)

In [36]:
 collatz(1)

1

In [37]:
 collatz(10)

10
5
16
8
4
2
1

# Question 5

Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

In [41]:
def binary(n):
    if n > 1:
        binary(n // 2)  
    print(n % 2, end='')

In [42]:
binary(0)

0

In [43]:
binary(1)

1

In [44]:
binary(3)

11

In [45]:
binary(9)

1001

# Question 6

Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document.Each heading should be indented asfollows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.
```
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)
```

In [70]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
  def __init__(self):
    super().__init__()
    self.indentation = 0
    self.inside_heading = False

  def handle_starttag(self, tag, attrs):
    if tag.startswith('h') and len(tag) == 2 and tag[1].isdigit():
      self.indentation = int(tag[1]) - 1
      self.inside_heading = True

  def handle_endtag(self, tag):
    if tag.startswith('h') and len(tag) == 2 and tag[1].isdigit():
      self.indentation = 0
      self.inside_heading = False

  def handle_data(self, data):
    if self.inside_heading:
      print(' ' * self.indentation + data.strip())

In [75]:
infile = open("C:\\Users\\TheDevilCoder\\w3c.html")

In [76]:
content = infile.read()

In [77]:
infile.close()

In [78]:
hp = HeadingParser()

In [79]:
hp.feed(content)

W3C Mission
 Principles

# Question 7

Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL.
```
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
  http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
    http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
  http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
    http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
```

In [49]:
from urllib.request import urlopen
from bs4 import BeautifulSoup

def webdir(url, depth, indent):
  if depth < 0:
    return

  try:
    response = urlopen(url)
    soup = BeautifulSoup(response, 'html.parser')
    print(' ' * indent + url)

    if depth == 0:
      return

    links = soup.find_all('a')
    for link in links:
      href = link.get('href')
      if href.startswith('http'):
        webdir(href, depth - 1, indent + 2)

  except Exception as e:
    print('Error:', e)

In [50]:
webdir('https://reed.cs.depaul.edu/lperkovic/csc242/syllabus.html', 2, 0)

https://reed.cs.depaul.edu/lperkovic/csc242/syllabus.html
  https://reed.cs.depaul.edu/lperkovic/
Error: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1129)>
Error: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1129)>
    https://reed.cs.depaul.edu/lperkovic/courses/csc241/
    https://reed.cs.depaul.edu/lperkovic/courses/csc242/
  https://depaul.zoom.us/j/894936490
  https://depaul.zoom.us/j/894936490
  https://d2l.depaul.edu/
  https://d2l.depaul.edu/
  https://www.vitalsource.com/custom/9781119185390
    https://get.vitalsource.com/
    https://get.vitalsource.com/press
    https://get.vitalsource.com/about-us/careers
    https://get.vitalsource.com/resources/events
    https://get.vitalsource.com/blog
    https://get.vitalsource.com/vitalsource-advantage/accessibility
    https://bulk-store.vitalsource.com/
Error: HTTP Error 403: Forbidden
Error: HTTP Error 403: Forbidden
    https://www.youtube.com/channel/UCnLjhbaT56U_mmmc4m0yBrA
    https://www.instagram.com/vitalsource/
    https://www.facebook.com/vitalsourcebookshelf/
Error: HTTP Error 302: The HTTP server returned a redirect error that would lead to an infinite loop.
The last 30x error message was:
Found
Error: HTTP Error 999: Request denied
    https://get.vitalsource.com/
  https://reed.cs.depaul.edu/lperkovic/courses/csc242
Error: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1129)>
  https://campusconnect.depaul.edu/
Error: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1129)>
Error: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1129)>
Error: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1129)>

# Question 8
Write SQL queries on the below database table that return:
1. All the temperature data.
2. All the cities, but without repetition.
3. All the records for India.
4. All the Fall records.
5. The city, country, and season for which the average rainfall is between 200
and 400 millimeters.
6. The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.
7. The total annual rainfall for Cairo.
8. The total rainfall for each season.

|City | Country | Season | Temperature (C) | Rainfall (mm)|
|-----|---------|--------|-----------------|--------------|
|Mumbai| India | Winter | 24.8 | 5.9|
|Mumbai | India| Spring| 28.4| 16.2|
|Mumbai|India|Summer|27.9|1549.4|
|Mumbai|India|Fall|27.6|346.0|
|London|United Kingdom|Winter|4.2|207.7|
|London|United Kingdom|Spring|8.3|169.6|
|London|United Kingdom|Summer|15.7|157.0|
|London|United Kingdom|Fall|10.4|218.5|
|Cairo|Egypt|Winter|13.6|16.5|
|Cairo|Egypt|Spring|20.7|6.5|
|Cairo|Egypt|Summer|27.7|0.1|
|Cairo|Egypt|Fall|22.2|4.5|

In [51]:
import sqlite3

conn = sqlite3.connect('weather.db')

In [52]:
cur = conn.cursor()

cur.execute("CREATE TABLE WeatherData (City TEXT, Country TEXT, Season TEXT, Temperature REAL, Rainfall REAL)")

conn.commit()

In [53]:
cur.execute("INSERT INTO WeatherData VALUES ('Mumbai', 'India', 'Winter', '24.8', '5.9')")
cur.execute("INSERT INTO WeatherData VALUES ('Mumbai', 'India', 'Spring', '28.4', '16.2')")
cur.execute("INSERT INTO WeatherData VALUES ('Mumbai', 'India', 'Summer', '27.9', '1549.4')")
cur.execute("INSERT INTO WeatherData VALUES ('Mumbai', 'India', 'Fall', '27.6', '346.0')")
cur.execute("INSERT INTO WeatherData VALUES ('London', 'United Kingdom', 'Winter', '4.2', '207.7')")
cur.execute("INSERT INTO WeatherData VALUES ('London', 'United Kingdom', 'Spring', '8.3', '169.6')")
cur.execute("INSERT INTO WeatherData VALUES ('London', 'United Kingdom', 'Summer', '15.7', '157.0')")
cur.execute("INSERT INTO WeatherData VALUES ('London', 'United Kingdom', 'Fall', '10.4', '218.5')")
cur.execute("INSERT INTO WeatherData VALUES ('Cairo', 'Egypt', 'Winter', '13.6', '16.5')")
cur.execute("INSERT INTO WeatherData VALUES ('Cairo', 'Egypt', 'Spring', '20.7', '6.5')")
cur.execute("INSERT INTO WeatherData VALUES ('Cairo', 'Egypt', 'Summer', '27.7', '0.1')")
cur.execute("INSERT INTO WeatherData VALUES ('Cairo', 'Egypt', 'Fall', '22.2', '4.5')")

conn.commit()

In [54]:
cur.execute("SELECT * FROM WeatherData")

for record in cur:
  print(record)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Winter', 4.2, 207.7)
('London', 'United Kingdom', 'Spring', 8.3, 169.6)
('London', 'United Kingdom', 'Summer', 15.7, 157.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Winter', 13.6, 16.5)
('Cairo', 'Egypt', 'Spring', 20.7, 6.5)
('Cairo', 'Egypt', 'Summer', 27.7, 0.1)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [55]:
cur.execute("SELECT Temperature FROM WeatherData")

for record in cur:
  print(record[0])

24.8
28.4
27.9
27.6
4.2
8.3
15.7
10.4
13.6
20.7
27.7
22.2

In [56]:
cur.execute("SELECT DISTINCT City FROM WeatherData")

for record in cur:
  print(record[0])

Mumbai
London
Cairo

In [57]:
cur.execute("SELECT * FROM WeatherData WHERE Country = 'India'")

for record in cur:
  print(record)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

In [58]:
cur.execute("SELECT * FROM WeatherData WHERE Season = 'Fall'")

for record in cur:
  print(record)

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [59]:
cur.execute("SELECT City, Country, Season FROM WeatherData GROUP BY City, Country, Season HAVING AVG(Rainfall) BETWEEN 200 AND 400")

for record in cur:
  print(record)

('London', 'United Kingdom', 'Fall')
('London', 'United Kingdom', 'Winter')
('Mumbai', 'India', 'Fall')

In [60]:
cur.execute("SELECT City, Country FROM WeatherData WHERE Season = 'Fall' GROUP BY City, Country HAVING AVG(Temperature) > 20 ORDER BY AVG(Temperature) ASC")

for record in cur:
  print(record)

('Cairo', 'Egypt')
('Mumbai', 'India')

In [61]:
cur.execute("SELECT SUM(Rainfall) AS TotalRainfall FROM WeatherData WHERE City = 'Cairo'")

for record in cur:
  print(record[0])

27.6

In [62]:
cur.execute("SELECT Season, ROUND(SUM(Rainfall), 1) AS TotalRainfall FROM WeatherData GROUP BY Season")

for record in cur:
  print(record)

('Fall', 569.0)
('Spring', 192.3)
('Summer', 1706.5)
('Winter', 230.1)

In [63]:
cur.close()
conn.close()

# Question 9

Suppose list words is defined as follows:

In [64]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
words

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

Write list comprehension expressions that use list words and generate the following
lists:
1. ```['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']```
2. ```['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']```
3. ```[3, 5, 5, 3, 5, 4, 3, 4, 3]``` (the list of lengths of words in list words).
4. ```[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]``` (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)
5. ```['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']``` (the list of words in list words containing 4 or more characters.)

In [65]:
upper_words = [word.upper() for word in words]
upper_words

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [66]:
lower_words = [word.lower() for word in words]
lower_words

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [67]:
word_lengths = [len(word) for word in words]
word_lengths

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [68]:
word_info = [[word.upper(), word.lower(), len(word)] for word in words]
word_info

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [69]:
long_words = [word for word in words if len(word) >= 4]
long_words

['quick', 'brown', 'jumps', 'over', 'lazy']