<a href="https://colab.research.google.com/github/hiteshsagar/BDAT/blob/main/PySpark_Lab3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [77]:
# !pip install pyspark

In [78]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

In [79]:
spark = SparkSession.builder\
        .master("local")\
        .appName("automobile")\
        .config('spark.ui.port', '4050')\
        .getOrCreate()

In [80]:
spark

# 1) Load *Data Automobile* data into a `PySpark` DF and Running the `head` command

In [81]:
df = spark.read.csv('/content/drive/MyDrive/PySpark-Lab3/Automobile_data.csv', header=True)

In [82]:
# Head command
df.head()

Row(symboling='3', normalized-losses='?', make='alfa-romero', fuel-type='gas', aspiration='std', num-of-doors='two', body-style='convertible', drive-wheels='rwd', engine-location='front', wheel-base='88.6', length='168.8', width='64.1', height='48.8', curb-weight='2548', engine-type='dohc', num-of-cylinders='four', engine-size='130', fuel-system='mpfi', bore='3.47', stroke='2.68', compression-ratio='9', horsepower='111', peak-rpm='5000', city-mpg='21', highway-mpg='27', price='13495')

In [83]:
df.columns

['symboling',
 'normalized-losses',
 'make',
 'fuel-type',
 'aspiration',
 'num-of-doors',
 'body-style',
 'drive-wheels',
 'engine-location',
 'wheel-base',
 'length',
 'width',
 'height',
 'curb-weight',
 'engine-type',
 'num-of-cylinders',
 'engine-size',
 'fuel-system',
 'bore',
 'stroke',
 'compression-ratio',
 'horsepower',
 'peak-rpm',
 'city-mpg',
 'highway-mpg',
 'price']

In [84]:
df.describe()

DataFrame[summary: string, symboling: string, normalized-losses: string, make: string, fuel-type: string, aspiration: string, num-of-doors: string, body-style: string, drive-wheels: string, engine-location: string, wheel-base: string, length: string, width: string, height: string, curb-weight: string, engine-type: string, num-of-cylinders: string, engine-size: string, fuel-system: string, bore: string, stroke: string, compression-ratio: string, horsepower: string, peak-rpm: string, city-mpg: string, highway-mpg: string, price: string]

In [85]:
df.show(10)

+---------+-----------------+-----------+---------+----------+------------+-----------+------------+---------------+----------+------+-----+------+-----------+-----------+----------------+-----------+-----------+----+------+-----------------+----------+--------+--------+-----------+-----+
|symboling|normalized-losses|       make|fuel-type|aspiration|num-of-doors| body-style|drive-wheels|engine-location|wheel-base|length|width|height|curb-weight|engine-type|num-of-cylinders|engine-size|fuel-system|bore|stroke|compression-ratio|horsepower|peak-rpm|city-mpg|highway-mpg|price|
+---------+-----------------+-----------+---------+----------+------------+-----------+------------+---------------+----------+------+-----+------+-----------+-----------+----------------+-----------+-----------+----+------+-----------------+----------+--------+--------+-----------+-----+
|        3|                ?|alfa-romero|      gas|       std|         two|convertible|         rwd|          front|      88.6| 168.8| 64.1|  48.8|       2548|       dohc|            four|        130|       mpfi|3.47|  2.68|                9|       111|    5000|      21|         27|13495|
|        3|                ?|alfa-romero|      gas|       std|         two|convertible|         rwd|          front|      88.6| 168.8| 64.1|  48.8|       2548|       dohc|            four|        130|       mpfi|3.47|  2.68|                9|       111|    5000|      21|         27|16500|
|        1|                ?|alfa-romero|      gas|       std|         two|  hatchback|         rwd|          front|      94.5| 171.2| 65.5|  52.4|       2823|       ohcv|             six|        152|       mpfi|2.68|  3.47|                9|       154|    5000|      19|         26|16500|
|        2|              164|       audi|      gas|       std|        four|      sedan|         fwd|          front|      99.8| 176.6| 66.2|  54.3|       2337|        ohc|            four|        109|       mpfi|3.19|   3.4|               10|       102|    5500|      24|         30|13950|
|        2|              164|       audi|      gas|       std|        four|      sedan|         4wd|          front|      99.4| 176.6| 66.4|  54.3|       2824|        ohc|            five|        136|       mpfi|3.19|   3.4|                8|       115|    5500|      18|         22|17450|
|        2|                ?|       audi|      gas|       std|         two|      sedan|         fwd|          front|      99.8| 177.3| 66.3|  53.1|       2507|        ohc|            five|        136|       mpfi|3.19|   3.4|              8.5|       110|    5500|      19|         25|15250|
|        1|              158|       audi|      gas|       std|        four|      sedan|         fwd|          front|     105.8| 192.7| 71.4|  55.7|       2844|        ohc|            five|        136|       mpfi|3.19|   3.4|              8.5|       110|    5500|      19|         25|17710|
|        1|                ?|       audi|      gas|       std|        four|      wagon|         fwd|          front|     105.8| 192.7| 71.4|  55.7|       2954|        ohc|            five|        136|       mpfi|3.19|   3.4|              8.5|       110|    5500|      19|         25|18920|
|        1|              158|       audi|      gas|     turbo|        four|      sedan|         fwd|          front|     105.8| 192.7| 71.4|  55.9|       3086|        ohc|            five|        131|       mpfi|3.13|   3.4|              8.3|       140|    5500|      17|         20|23875|
|        0|                ?|       audi|      gas|     turbo|         two|  hatchback|         4wd|          front|      99.5| 178.2| 67.9|    52|       3053|        ohc|            five|        131|       mpfi|3.13|   3.4|                7|       160|    5500|      16|         22|    ?|
+---------+-----------------+-----------+---------+----------+------------+-----------+------------+---------------+----------+------+-----+------+-----------+-----------+----------------+-----------+-----------+----+------+-----------------+----------+--------+--------+-----------+-----+
only showing top 10 rows

# 2) Get the count of rows in the DataFrame

In [86]:
count = df.count()
print(f"Count of rows in the DataFrame: {count}")

Count of rows in the DataFrame: 205

# 3) Get the schema of the DataFrame

In [87]:
df.printSchema()

root
 |-- symboling: string (nullable = true)
 |-- normalized-losses: string (nullable = true)
 |-- make: string (nullable = true)
 |-- fuel-type: string (nullable = true)
 |-- aspiration: string (nullable = true)
 |-- num-of-doors: string (nullable = true)
 |-- body-style: string (nullable = true)
 |-- drive-wheels: string (nullable = true)
 |-- engine-location: string (nullable = true)
 |-- wheel-base: string (nullable = true)
 |-- length: string (nullable = true)
 |-- width: string (nullable = true)
 |-- height: string (nullable = true)
 |-- curb-weight: string (nullable = true)
 |-- engine-type: string (nullable = true)
 |-- num-of-cylinders: string (nullable = true)
 |-- engine-size: string (nullable = true)
 |-- fuel-system: string (nullable = true)
 |-- bore: string (nullable = true)
 |-- stroke: string (nullable = true)
 |-- compression-ratio: string (nullable = true)
 |-- horsepower: string (nullable = true)
 |-- peak-rpm: string (nullable = true)
 |-- city-mpg: string (nullable = true)
 |-- highway-mpg: string (nullable = true)
 |-- price: string (nullable = true)

# 4) Remove rows with null values

In [88]:
df =  df.na.drop()
df.count()

205

In [90]:
# Loop through all columns and count the null values
null_counts = [df.filter(col(column).isNull()).count() for column in df.columns]

In [91]:
# Display the count of null values for each column
for column, count in zip(df.columns, null_counts):
    print(f"Column '{column}' has {count} null values.")

Column 'symboling' has 0 null values.
Column 'normalized-losses' has 0 null values.
Column 'make' has 0 null values.
Column 'fuel-type' has 0 null values.
Column 'aspiration' has 0 null values.
Column 'num-of-doors' has 0 null values.
Column 'body-style' has 0 null values.
Column 'drive-wheels' has 0 null values.
Column 'engine-location' has 0 null values.
Column 'wheel-base' has 0 null values.
Column 'length' has 0 null values.
Column 'width' has 0 null values.
Column 'height' has 0 null values.
Column 'curb-weight' has 0 null values.
Column 'engine-type' has 0 null values.
Column 'num-of-cylinders' has 0 null values.
Column 'engine-size' has 0 null values.
Column 'fuel-system' has 0 null values.
Column 'bore' has 0 null values.
Column 'stroke' has 0 null values.
Column 'compression-ratio' has 0 null values.
Column 'horsepower' has 0 null values.
Column 'peak-rpm' has 0 null values.
Column 'city-mpg' has 0 null values.
Column 'highway-mpg' has 0 null values.
Column 'price' has 0 null values.

In [92]:
df.select("normalized-losses").show()

+-----------------+
|normalized-losses|
+-----------------+
|                ?|
|                ?|
|                ?|
|              164|
|              164|
|                ?|
|              158|
|                ?|
|              158|
|                ?|
|              192|
|              192|
|              188|
|              188|
|                ?|
|                ?|
|                ?|
|                ?|
|              121|
|               98|
+-----------------+
only showing top 20 rows

In [93]:
# Filter out rows with '?' values in the "normalized-losses" column
df = df.filter(col("normalized-losses") != "?")
df.show(10)

+---------+-----------------+---------+---------+----------+------------+----------+------------+---------------+----------+------+-----+------+-----------+-----------+----------------+-----------+-----------+----+------+-----------------+----------+--------+--------+-----------+-----+
|symboling|normalized-losses|     make|fuel-type|aspiration|num-of-doors|body-style|drive-wheels|engine-location|wheel-base|length|width|height|curb-weight|engine-type|num-of-cylinders|engine-size|fuel-system|bore|stroke|compression-ratio|horsepower|peak-rpm|city-mpg|highway-mpg|price|
+---------+-----------------+---------+---------+----------+------------+----------+------------+---------------+----------+------+-----+------+-----------+-----------+----------------+-----------+-----------+----+------+-----------------+----------+--------+--------+-----------+-----+
|        2|              164|     audi|      gas|       std|        four|     sedan|         fwd|          front|      99.8| 176.6| 66.2|  54.3|       2337|        ohc|            four|        109|       mpfi|3.19|   3.4|               10|       102|    5500|      24|         30|13950|
|        2|              164|     audi|      gas|       std|        four|     sedan|         4wd|          front|      99.4| 176.6| 66.4|  54.3|       2824|        ohc|            five|        136|       mpfi|3.19|   3.4|                8|       115|    5500|      18|         22|17450|
|        1|              158|     audi|      gas|       std|        four|     sedan|         fwd|          front|     105.8| 192.7| 71.4|  55.7|       2844|        ohc|            five|        136|       mpfi|3.19|   3.4|              8.5|       110|    5500|      19|         25|17710|
|        1|              158|     audi|      gas|     turbo|        four|     sedan|         fwd|          front|     105.8| 192.7| 71.4|  55.9|       3086|        ohc|            five|        131|       mpfi|3.13|   3.4|              8.3|       140|    5500|      17|         20|23875|
|        2|              192|      bmw|      gas|       std|         two|     sedan|         rwd|          front|     101.2| 176.8| 64.8|  54.3|       2395|        ohc|            four|        108|       mpfi| 3.5|   2.8|              8.8|       101|    5800|      23|         29|16430|
|        0|              192|      bmw|      gas|       std|        four|     sedan|         rwd|          front|     101.2| 176.8| 64.8|  54.3|       2395|        ohc|            four|        108|       mpfi| 3.5|   2.8|              8.8|       101|    5800|      23|         29|16925|
|        0|              188|      bmw|      gas|       std|         two|     sedan|         rwd|          front|     101.2| 176.8| 64.8|  54.3|       2710|        ohc|             six|        164|       mpfi|3.31|  3.19|                9|       121|    4250|      21|         28|20970|
|        0|              188|      bmw|      gas|       std|        four|     sedan|         rwd|          front|     101.2| 176.8| 64.8|  54.3|       2765|        ohc|             six|        164|       mpfi|3.31|  3.19|                9|       121|    4250|      21|         28|21105|
|        2|              121|chevrolet|      gas|       std|         two| hatchback|         fwd|          front|      88.4| 141.1| 60.3|  53.2|       1488|          l|           three|         61|       2bbl|2.91|  3.03|              9.5|        48|    5100|      47|         53| 5151|
|        1|               98|chevrolet|      gas|       std|         two| hatchback|         fwd|          front|      94.5| 155.9| 63.6|    52|       1874|        ohc|            four|         90|       2bbl|3.03|  3.11|              9.6|        70|    5400|      38|         43| 6295|
+---------+-----------------+---------+---------+----------+------------+----------+------------+---------------+----------+------+-----+------+-----------+-----------+----------------+-----------+-----------+----+------+-----------------+----------+--------+--------+-----------+-----+
only showing top 10 rows

# 5) Filtering: Cars with highway mpg > 23

In [94]:
df_highway_mpg_gt_23 = df.filter(df['highway-mpg'] > 23)
df_highway_mpg_gt_23.show(10)

+---------+-----------------+---------+---------+----------+------------+----------+------------+---------------+----------+------+-----+------+-----------+-----------+----------------+-----------+-----------+----+------+-----------------+----------+--------+--------+-----------+-----+
|symboling|normalized-losses|     make|fuel-type|aspiration|num-of-doors|body-style|drive-wheels|engine-location|wheel-base|length|width|height|curb-weight|engine-type|num-of-cylinders|engine-size|fuel-system|bore|stroke|compression-ratio|horsepower|peak-rpm|city-mpg|highway-mpg|price|
+---------+-----------------+---------+---------+----------+------------+----------+------------+---------------+----------+------+-----+------+-----------+-----------+----------------+-----------+-----------+----+------+-----------------+----------+--------+--------+-----------+-----+
|        2|              164|     audi|      gas|       std|        four|     sedan|         fwd|          front|      99.8| 176.6| 66.2|  54.3|       2337|        ohc|            four|        109|       mpfi|3.19|   3.4|               10|       102|    5500|      24|         30|13950|
|        1|              158|     audi|      gas|       std|        four|     sedan|         fwd|          front|     105.8| 192.7| 71.4|  55.7|       2844|        ohc|            five|        136|       mpfi|3.19|   3.4|              8.5|       110|    5500|      19|         25|17710|
|        2|              192|      bmw|      gas|       std|         two|     sedan|         rwd|          front|     101.2| 176.8| 64.8|  54.3|       2395|        ohc|            four|        108|       mpfi| 3.5|   2.8|              8.8|       101|    5800|      23|         29|16430|
|        0|              192|      bmw|      gas|       std|        four|     sedan|         rwd|          front|     101.2| 176.8| 64.8|  54.3|       2395|        ohc|            four|        108|       mpfi| 3.5|   2.8|              8.8|       101|    5800|      23|         29|16925|
|        0|              188|      bmw|      gas|       std|         two|     sedan|         rwd|          front|     101.2| 176.8| 64.8|  54.3|       2710|        ohc|             six|        164|       mpfi|3.31|  3.19|                9|       121|    4250|      21|         28|20970|
|        0|              188|      bmw|      gas|       std|        four|     sedan|         rwd|          front|     101.2| 176.8| 64.8|  54.3|       2765|        ohc|             six|        164|       mpfi|3.31|  3.19|                9|       121|    4250|      21|         28|21105|
|        2|              121|chevrolet|      gas|       std|         two| hatchback|         fwd|          front|      88.4| 141.1| 60.3|  53.2|       1488|          l|           three|         61|       2bbl|2.91|  3.03|              9.5|        48|    5100|      47|         53| 5151|
|        1|               98|chevrolet|      gas|       std|         two| hatchback|         fwd|          front|      94.5| 155.9| 63.6|    52|       1874|        ohc|            four|         90|       2bbl|3.03|  3.11|              9.6|        70|    5400|      38|         43| 6295|
|        0|               81|chevrolet|      gas|       std|        four|     sedan|         fwd|          front|      94.5| 158.8| 63.6|    52|       1909|        ohc|            four|         90|       2bbl|3.03|  3.11|              9.6|        70|    5400|      38|         43| 6575|
|        1|              118|    dodge|      gas|       std|         two| hatchback|         fwd|          front|      93.7| 157.3| 63.8|  50.8|       1876|        ohc|            four|         90|       2bbl|2.97|  3.23|             9.41|        68|    5500|      37|         41| 5572|
+---------+-----------------+---------+---------+----------+------------+----------+------------+---------------+----------+------+-----+------+-----------+-----------+----------------+-----------+-----------+----+------+-----------------+----------+--------+--------+-----------+-----+
only showing top 10 rows

# 6) Multiple Conditions: Cars with horsepower > 80 and curb-weight > 2000

In [95]:
df_multiple_conditions = df.filter((df['horsepower'] > 80) & (df['curb-weight'] > 2000))
df_multiple_conditions.show(10)

+---------+-----------------+-----+---------+----------+------------+----------+------------+---------------+----------+------+-----+------+-----------+-----------+----------------+-----------+-----------+----+------+-----------------+----------+--------+--------+-----------+-----+
|symboling|normalized-losses| make|fuel-type|aspiration|num-of-doors|body-style|drive-wheels|engine-location|wheel-base|length|width|height|curb-weight|engine-type|num-of-cylinders|engine-size|fuel-system|bore|stroke|compression-ratio|horsepower|peak-rpm|city-mpg|highway-mpg|price|
+---------+-----------------+-----+---------+----------+------------+----------+------------+---------------+----------+------+-----+------+-----------+-----------+----------------+-----------+-----------+----+------+-----------------+----------+--------+--------+-----------+-----+
|        2|              164| audi|      gas|       std|        four|     sedan|         fwd|          front|      99.8| 176.6| 66.2|  54.3|       2337|        ohc|            four|        109|       mpfi|3.19|   3.4|               10|       102|    5500|      24|         30|13950|
|        2|              164| audi|      gas|       std|        four|     sedan|         4wd|          front|      99.4| 176.6| 66.4|  54.3|       2824|        ohc|            five|        136|       mpfi|3.19|   3.4|                8|       115|    5500|      18|         22|17450|
|        1|              158| audi|      gas|       std|        four|     sedan|         fwd|          front|     105.8| 192.7| 71.4|  55.7|       2844|        ohc|            five|        136|       mpfi|3.19|   3.4|              8.5|       110|    5500|      19|         25|17710|
|        1|              158| audi|      gas|     turbo|        four|     sedan|         fwd|          front|     105.8| 192.7| 71.4|  55.9|       3086|        ohc|            five|        131|       mpfi|3.13|   3.4|              8.3|       140|    5500|      17|         20|23875|
|        2|              192|  bmw|      gas|       std|         two|     sedan|         rwd|          front|     101.2| 176.8| 64.8|  54.3|       2395|        ohc|            four|        108|       mpfi| 3.5|   2.8|              8.8|       101|    5800|      23|         29|16430|
|        0|              192|  bmw|      gas|       std|        four|     sedan|         rwd|          front|     101.2| 176.8| 64.8|  54.3|       2395|        ohc|            four|        108|       mpfi| 3.5|   2.8|              8.8|       101|    5800|      23|         29|16925|
|        0|              188|  bmw|      gas|       std|         two|     sedan|         rwd|          front|     101.2| 176.8| 64.8|  54.3|       2710|        ohc|             six|        164|       mpfi|3.31|  3.19|                9|       121|    4250|      21|         28|20970|
|        0|              188|  bmw|      gas|       std|        four|     sedan|         rwd|          front|     101.2| 176.8| 64.8|  54.3|       2765|        ohc|             six|        164|       mpfi|3.31|  3.19|                9|       121|    4250|      21|         28|21105|
|        1|              118|dodge|      gas|     turbo|         two| hatchback|         fwd|          front|      93.7| 157.3| 63.8|  50.8|       2128|        ohc|            four|         98|       mpfi|3.03|  3.39|              7.6|       102|    5500|      24|         30| 7957|
|        1|              148|dodge|      gas|     turbo|           ?|     sedan|         fwd|          front|      93.7| 157.3| 63.8|  50.6|       2191|        ohc|            four|         98|       mpfi|3.03|  3.39|              7.6|       102|    5500|      24|         30| 8558|
+---------+-----------------+-----+---------+----------+------------+----------+------------+---------------+----------+------+-----+------+-----------+-----------+----------------+-----------+-----------+----+------+-----------------+----------+--------+--------+-----------+-----+
only showing top 10 rows

# 7) Select only Audi make cars

In [96]:
df_audi_cars = df.filter(df['make'] == 'audi')
df_audi_cars.show()

+---------+-----------------+----+---------+----------+------------+----------+------------+---------------+----------+------+-----+------+-----------+-----------+----------------+-----------+-----------+----+------+-----------------+----------+--------+--------+-----------+-----+
|symboling|normalized-losses|make|fuel-type|aspiration|num-of-doors|body-style|drive-wheels|engine-location|wheel-base|length|width|height|curb-weight|engine-type|num-of-cylinders|engine-size|fuel-system|bore|stroke|compression-ratio|horsepower|peak-rpm|city-mpg|highway-mpg|price|
+---------+-----------------+----+---------+----------+------------+----------+------------+---------------+----------+------+-----+------+-----------+-----------+----------------+-----------+-----------+----+------+-----------------+----------+--------+--------+-----------+-----+
|        2|              164|audi|      gas|       std|        four|     sedan|         fwd|          front|      99.8| 176.6| 66.2|  54.3|       2337|        ohc|            four|        109|       mpfi|3.19|   3.4|               10|       102|    5500|      24|         30|13950|
|        2|              164|audi|      gas|       std|        four|     sedan|         4wd|          front|      99.4| 176.6| 66.4|  54.3|       2824|        ohc|            five|        136|       mpfi|3.19|   3.4|                8|       115|    5500|      18|         22|17450|
|        1|              158|audi|      gas|       std|        four|     sedan|         fwd|          front|     105.8| 192.7| 71.4|  55.7|       2844|        ohc|            five|        136|       mpfi|3.19|   3.4|              8.5|       110|    5500|      19|         25|17710|
|        1|              158|audi|      gas|     turbo|        four|     sedan|         fwd|          front|     105.8| 192.7| 71.4|  55.9|       3086|        ohc|            five|        131|       mpfi|3.13|   3.4|              8.3|       140|    5500|      17|         20|23875|
+---------+-----------------+----+---------+----------+------------+----------+------------+---------------+----------+------+-----+------+-----------+-----------+----------------+-----------+-----------+----+------+-----------------+----------+--------+--------+-----------+-----+

# 8) Get count of cars grouping by Make and Drive-Wheels

In [97]:
grouped = df.groupBy('make', 'drive-wheels').count()
grouped.show()

+-------------+------------+-----+
|         make|drive-wheels|count|
+-------------+------------+-----+
|         saab|         fwd|    6|
|       nissan|         fwd|   15|
|        mazda|         rwd|    5|
|        mazda|         fwd|   10|
|   mitsubishi|         fwd|   10|
|    chevrolet|         fwd|    3|
|         audi|         4wd|    1|
|      porsche|         rwd|    1|
|       toyota|         4wd|    2|
|   volkswagen|         fwd|    8|
|       jaguar|         rwd|    1|
|          bmw|         rwd|    4|
|       nissan|         rwd|    3|
|       peugot|         rwd|    7|
|        volvo|         rwd|   11|
|     plymouth|         fwd|    6|
|       subaru|         fwd|    7|
|       toyota|         fwd|   16|
|        honda|         fwd|   13|
|mercedes-benz|         rwd|    5|
+-------------+------------+-----+
only showing top 20 rows